<article id="<%= dom_id book %>" class="py-6 prose prose-zinc dark:prose-invert">
    <p class="mb-0 font-heading font-medium">
      Title
    </p>
    <p class="my-0">
      <%= book.title %>
    </p>
    <p class="mb-0 font-heading font-medium">
      Isbn
    </p>
    <p class="my-0">
      <%= book.ISBN %>
    </p>
    <p class="mb-0 font-heading font-medium">
      Published
    </p>
    <p class="my-0">
      <%= book.published %>
    </p>
    <p class="mb-0 font-heading font-medium">
      Author
    </p>
    <p class="my-0">
      <%= book.author_id %>
    </p>

   <p>
    <%= link_to "View Book", book, class: "underline" %>
  </p>

  <time class="text-zinc-600 dark:text-zinc-400 text-xs" datetime="<%= book.created_at.to_formatted_s(:long) %>">Created <%= time_ago_in_words(book.created_at) + " ago" %></time>
</article>
