<%= form_with(model: book) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="flex flex-row justify-center">
    <div class="form-group mr-3">
      <div class="form-group">
        <%= form.label :ISBN, class: "form-label block text-center" %>
        <%= form.text_field :ISBN, maxlength: "13", style: "width: 137px" ,class: "form-input text-sm justify-left"  %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_area :title, class: "form-textarea", data: { controller: "auto-expand-text-area", action:"input->auto-expand-text-area#expand" } %>
  </div>


  <div class="form-group">
    <%= form.check_box :published, class: "form-input-checkbox" %>
    <%= form.label :published, class: "ml-2" %>
  </div>

  <div class="form-group">
    <%= form.label :author_id, class: "form-label" %>
    <%= form.text_field :author_id, class: "form-input" %>
  </div>

  <div class="flex items-center justify-between flex-wrap">
    <div class="sm:flex-1 sm:mb-0 mb-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>

    <% if form.object.new_record? %>
      <%= link_to "Cancel", books_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to "Cancel", book_path(@book), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
