<%= form_with(model: supplier) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="flex flex-row justify-center">
    <div class="form-group mr-3">
      <%= form.label :cnpj, 'CNPJ', class: "form-label block text-center" %>
      <%= form.text_field :cnpj, maxlength: "14", style: "width: 150px" ,class: "form-input text-sm justify-left" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_area :name, class: "form-textarea", data: { controller: "auto-expand-text-area", action:"input->auto-expand-text-area#expand" } %>
  </div>


  <div class="flex items-center justify-between flex-wrap">
    <div class="sm:flex-1 sm:mb-0 mb-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>

    <% if form.object.new_record? %>
      <%= link_to "Cancel", suppliers_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to "Cancel", supplier_path(@supplier), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
