<tr class="md:whitespace-normal whitespace-nowrap">
  <td class="align-top md:px-0 p-4 dark:text-zinc-100">
    <p><%= link_to supplier.name, supplier %></p>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
    <%= supplier.cnpj %>
  </td>
  <td class="align-top pt-2">
    <%= actions_dropdown do %>
      <li>
        <%= link_to supplier, class: "px-4 md:py-2 py-3 flex items-center justify-between hover:text-zinc-900 text-zinc-700 dark:text-zinc-200 dark:hover:text-white" do %>
          <span>Go to supplier</span>
          <%= icon "chevron-right", classes: "md:hidden block w-5 h-5 text-zinc-500/60 dark:text-zinc-400" %>
        <% end %>
      </li>
    <% end %>
  </td>
</tr>
