<article id="<%= dom_id(assembly) %>" class="py-6 prose prose-zinc dark:prose-invert">
  <p class="mb-0 font-heading font-medium">Name</p>
  <p class="my-0"><%= assembly.name %></p>

  <p class="mb-0 font-heading font-medium">Book</p>
  <p class="my-0">
    <%= assembly.book&.title || "No book associated" %>
  </p>

  <p class="mb-0 font-heading font-medium">Parts</p>
  <ul class="my-0">
    <% assembly.parts.each do |part| %>
      <li><%= part.name %> - Value: <%= part.value %></li>
    <% end %>
  </ul>

  <p>
    <%= link_to "View Assembly", assembly, class: "underline" %>
  </p>

  <time class="text-zinc-600 dark:text-zinc-400 text-xs" datetime="<%= assembly.created_at.to_formatted_s(:long) %>">
    Created <%= time_ago_in_words(assembly.created_at) + " ago" %>
  </time>
</article>
