<%= form_with(model: assembly, local: true) do |form| %>
  <% if assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assembly.errors.count, "error") %> prohibited this assembly from being saved:</h2>

      <ul>
        <% assembly.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-input", placeholder: "Enter assembly name" %>
  </div>

  <div class="mb-3">
    <%= form.label :book_id, "Book", class: "form-label" %>
    <%= form.collection_select :book_id, @books, :id, :title, { include_blank: "Select a book" }, { class: "form-input" } %>
  </div>

  <div class="mb-3">
    <%= form.label :parts, class: "form-label" %>
    <%= form.collection_check_boxes :part_ids, @parts, :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
