<article id="<%= dom_id account %>" class="py-6 prose prose-zinc dark:prose-invert">
    <p class="mb-0 font-heading font-medium">
      Account number
    </p>
    <p class="my-0">
      <%= account.account_number %>
    </p>
    <p class="mb-0 font-heading font-medium">
      Supplier
    </p>
    <p class="my-0">
      <%= account.supplier_id %>
    </p>

   <p>
    <%= link_to "View Account", account, class: "underline" %>
  </p>

  <time class="text-zinc-600 dark:text-zinc-400 text-xs" datetime="<%= account.created_at.to_formatted_s(:long) %>">Created <%= time_ago_in_words(account.created_at) + " ago" %></time>
</article>
