<% if notice %>
  <div class="bg-secondary-600 text-white text-center p-4" role="alert" data-controller="alert">
    <p><%= sanitize notice %></p>
  </div>
<% end %>

<%= form_with(model: account) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="flex flex-row justify-center">
    <div class="form-group mr-3">
      <%= form.label :account_number, 'N° da Conta', class: "form-label block text-center" %>
      <%= form.text_field :account_number, class: "form-input w-24 text-sm justify-left" %>
    </div>

    <div class="form-group">
      <%= form.label :checksum, "Dígito", class: "form-label" %>
      <%= form.text_field :checksum, class: "form-input w-12 text-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :supplier_id, class: "form-label" %>
    <%= form.text_field :supplier_id, class: "form-input" %>
  </div>

  <div class="flex items-center justify-between flex-wrap">
    <div class="sm:flex-1 sm:mb-0 mb-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>

    <% if form.object.new_record? %>
      <%= link_to "Cancel", accounts_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to "Cancel", account_path(@account), class: "btn btn-white" %>
    <% end %>
  </div>

<% end %>
